:root {
	--background: black;
	--lean-dark: #0d0d0d;
	--lean-white: #fefefe;
}

html {
	background-image: linear-gradient(to top, var(--background), var(--lean-dark));
	font-family: sans-serif;
}

body {
        font-family: monospace;
}

p {
	color: var(--lean-white);
}
