:root {
	--background: black;
	--lean-dark: #0d0d0d;
	--lean-white: #fefefe;
    --blue: #3ab0ff;
    --green: #32d96c;
}

html {
	background-image: linear-gradient(to top, var(--background), var(--lean-dark));
	font-family: sans-serif;
}

body {
        font-family: monospace;
}

p {
	color: var(--lean-white);
}

.terminal-line {
	margin: 0;
	padding: 0;
	line-height: 1.8;
}

.username {
    color: var(--blue);
}

.host {
    color: var(--green);
}

