---
import '../styles/global.css';
import Terminal from '../components/Terminal.astro';
import ComputeCanva from '../components/ComputeCanva.astro';
---

<body id="container">
	<div id="main-columns">
		<Terminal />
		<ComputeCanva />
	</div>
</body>

<style>
	#container {
		overflow: hidden;
	}

	#main-columns {
		display: flex;
		flex-direction: row;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
	
	#main-columns > :global(*) {
		flex: 1; 
		overflow: auto; 
	}
</style>
