---
import '../styles/global.css';

let computeTotal = 0;
---

<div id="container">
	<main>
		<h2>{computeTotal}</h2>
	</main>
</div>

<style>
	#container {
		height: 100vh;
	}

	h2 {
		color: var(--lean-white);
	}
</style>

