---
import { onChange, getTotal } from '../lib/computeLab.js';
const computeTotal = getTotal();
---

<div id="container">
	<main>
		<h1 id="compute-total">{computeTotal}</h1>
	</main>
</div>

<style>
	#container {
		height: 100vh;
	}
	main {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	h1 {
		color: var(--lean-white);
	}
</style>

<script>
	import { onChange, getTotal } from '../lib/computeLab.js';
	import {loadTotal} from "../lib/savefile";
	import {simpleAdderLoop} from "../lib/computeLoops";

	const h1 = document.getElementById('compute-total');
	onChange((newTotal) => {
		h1.textContent = newTotal;
	});

	document.addEventListener('DOMContentLoaded', () => {
		loadTotal();
		h1.textContent = getTotal();
	});

	simpleAdderLoop();
	console.log("feur");
</script>
